
.createdby{
    background: rgb(100,50,100);
    color: rgb(250,250,0);
    padding: 20px;
    margin: 20px;
    font-size: 2rem;
}
.showerror{
    color: red;
    font-size: 1.5rem;
    magin-top: 10px;
    padding: 10px;
}
.content{
    display: flex;
    justify-items: center;
    justify-content: center;
    /*background: green;*/
    /*padding: 10px;*/
    /*margin:20px;*/
    /*color: rgb(70, 10,10)*/
}